@model complaintdetaildt;

@{
    ViewData["StatusListStyle"] = "text-md bg-[#BDEAC4] rounded-md";
}
<!DOCTYPE html>
<html>

<partial name="_Header"></partial>

<body class="hidden lg:flex md:hidden">
    <div class="flex flex-row w-screen h-screen">
        <partial name="AdminPanel"></partial>
        <div class="w-full h-full">
            <div class="flex flex-col w-full h-full items-start p-12 mt-6">
                <!-- Back Button -->
                <div class="flex flex-row w-full mb-4 ml-1">
                    <button class="flex flex-row items-center gap-x-2 text-[#1B4332] hover:cursor-pointer">
                        <img src="../res/img/back.png" alt="Back" class="w-5">
                        <h1 class="text-xl font-semibold">Back</h1>
                    </button>
                </div>
                <div class="rectBox w-full p-5 text-[#1B4332]">
                    <form method="post">
                        <!-- Complaintent Details -->
                        <div class="flex flex-row w-full justify-between">
                            <div class="flex flex-col">
                                <h1 class="text-lg font-semibold text-[#1B4332]">Complaintent Details</h1>
                                <div class="flex flex-row w-full gap-x-2 text-[#1B4332] mt-2">
                                    <div class="flex flex-col">
                                        <h1>Name:</h1>
                                        <h1>Phone: </h1>
                                        <h1>CNIC: </h1>
                                    </div>
                                    <div class="flex flex-col">
                                        <h1>@Model.Comp.cname</h1>
                                        <h1>@Model.Comp.phone</h1>
                                        <h1>@Model.Comp.cnic</h1>
                                    </div>
                                </div>
                            </div>

                            <!-- Complaint Against Details -->
                            <div class="flex flex-col">
                                <h1 class="text-lg font-semibold text-[#1B4332]">Complaint Against</h1>
                                <div class="flex flex-row w-full gap-x-2 text-[#1B4332] mt-2">
                                    <div class="flex flex-col">
                                        <h1>Name:</h1>
                                        <h1>Department:</h1>
                                        <h1>Issue Date: </h1>
                                    </div>
                                    <div class="flex flex-col">
                                        <h1>@Model.Comp.DocName</h1>
                                        <h1>
                                            @if (Model.Access == "ComplaintOfficer")
                                            {
                                                <select name="DepartmentSelection" id="DepartmentSelection" value="2" class="text-md bg-[#BDEAC4] rounded-md">
                                                    @{
                                                        foreach (var item in Model.DepartmentList)
                                                        {
                                                            if (item.id == Model.Comp.Department)
                                                            {
                                                                <option value="@item.id" selected>@item.Departmentname</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.id">@item.Departmentname</option>

                                                            }
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>
                                                    @{
                                                        var Depart = Model.DepartmentList.FirstOrDefault(d => d.id == Model.Comp.Department);
                                                        if (Depart != null)
                                                        {
                                                            @Depart.Departmentname
                                                        }
                                                        else
                                                        {
                                                            <h>Error</h>
                                                        }
                                                    }
                                                </span>
                                            }
                                        </h1>
                                        <h1>@Model.Comp.DOI</h1>
                                    </div>
                                </div>
                            </div>

                            <!-- Complaint Status -->
                            <div class="flex flex-col">
                                <h1 class="text-lg font-semibold text-[#1B4332]">Complaint Details</h1>
                                <div class="flex flex-row w-full gap-x-2 mt-2">
                                    <div class="flex flex-col justify-center">
                                        <h1 class="text-md">Status: </h1>
                                        <h1 class="text-md">Complaint Type: </h1>
                                    </div>
                                    <div class="flex flex-col justify-center">
                                        <partial name="_StatusList"></partial>
                                        <select name="ComplaintType" class="@ViewData["StatusListStyle"]" @{
                                                if(Model.Access!="ComplaintOfficer"){
                                                string vari = "Disabled";
                                                    @vari
                                                }
                                                }>
                                            <option id="None">None</option>
                                            <option id="Admin">Admin</option>
                                            <option id="Care">Care</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- create a horizontal divider-->
                        <div class="border-b-2 border-[#2F6A50] w-full mt-5"></div>
                        <div class="flex flex-row items-center justify-between mt-2 bg-[#BDEAC4] p-1 rounded-lg">
                            <button type="button" onclick="showComplaint()" class="text-xl py-2 bg-[#2F6A50] complaintBtn text-[#D8F3DC] w-full rounded-md">Complaint</button>
                            <button type="button" onclick="showCoSection()" class="rounded-md coBtn py-2 text-xl w-full">CO Section</button>
                            <button type="button" onclick="showAssistantCommandantSection()" class="commandantBtn rounded-md coBtn py-2 text-xl w-full">Assistant Commandant</button>
                            <button type="button" onclick="showFeedback()" class="feedbackBtn rounded-md py-2 text-xl w-full">Feedback</button>
                        </div>
                        <!-- Complaint -->
                        <section class="Complaint mt-4 text-lg">
                            @Model.Comp.ComplaintDesc
                        </section>
                        @*Complaint Explanation*@
                        <section class="CoSection mt-4 text-lg hidden">
                            @{
                                if (Model.Access == "ComplaintOfficer")
                                {
                                    if (Model.ifexplained != null)
                                    {
                                        <textarea name="Explain" class="w-full border-2 border-[#2F6A50] rounded-md p-2">@Model.ifexplained.explain</textarea>
                                    }
                                    else
                                    {
                                        <textarea name="Explain" class="w-full border-2 border-[#2F6A50] rounded-md p-2"></textarea>
                                    }
                                    <button type="submit" class="text-lg py-2 bg-[#2F6A50] text-[#D8F3DC] w-full rounded-mx sssssssssssad mt-2">Save</button>
                                }
                                else
                                {
                                    @if (@Model.ifexplained != null)
                                    {
                                        @Model.ifexplained.explain
                                    }
                                }
                            }

                        </section>
                    </form>
                    <!--Show Assistant commandant section-->
                    <form asp-action="savecommandentcomment" asp-route-id="@Model.Comp.id">
                        <div class="AssistantCommandantSection mt-4 text-lg hidden">
                            <div class="flex flex-col justify-between w-full h-full">

                                @*<div>
                                <div class="flex flex-row w-full gap-x-2">
                                <h1 class="font-semibold">Assistant Commandent: </h1>
                                </div>
                                </div>*@
                                <!-- input field for feedback-->
                                <div class="flex flex-col mt-24">
                                    @{
                                        if (Model.Access == "AssistantCommandent")
                                        {

                                            if (Model.ifcommented != null)
                                            {
                                                <textarea placeholder="Write Comment" name="comment" id="comment" cols="30" rows="1" class="w-full border-2 border-[#2F6A50] rounded-md p-2">@Model.ifcommented.comments</textarea>
                                            }
                                            <button class="text-lg py-2 bg-[#2F6A50] text-[#D8F3DC] w-full rounded-mx sssssssssssad mt-2">Save</button>
                                            <a asp-action="sendbacktoCO" asp-controller="Admin" asp-route-id="@Model.Comp.id">
                                                <button type="button" class="text-lg py-2 bg-[#2F6A50] text-[#D8F3DC] w-full rounded-mx mt-2">Send Back to CO</button>
                                            </a>
                                        }
                                        else
                                        {
                                            if (@Model.ifcommented != null)
                                            {
                                                @Model.ifcommented.comments
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Feedback Section -->
                    <div class="Feedback mt-4 text-lg hidden">
                        <div class="flex flex-col justify-between w-full h-full">
                            <div>
                                <h1>
                                    COMPLAINT FEEDBACK GOES HERE
                                </h1>
                            </div>
                            <!-- input field for feedback-->
                            <div class="flex flex-col mt-24">
                                <textarea placeholder="Write a feedback" name="feedback" id="feedback" cols="30" rows="1" class="w-full border-2 border-[#2F6A50] rounded-md p-2"></textarea>
                                <button class="text-lg py-2 bg-[#2F6A50] text-[#D8F3DC] w-full rounded-mx sssssssssssad mt-2">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showComplaint() {
            document.getElementsByClassName("complaintBtn")[0].classList.add("activeBtn");
            document.getElementsByClassName("complaintBtn")[0].classList.add("bg-[#2F6A50]");
            document.getElementsByClassName("complaintBtn")[0].classList.add("text-[#D8F3DC]");
            document.getElementsByClassName("coBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("coBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("coBtn")[0].classList.remove("text-[#D8F3DC]");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("text-[#D8F3DC]");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("text-[#D8F3DC]");
            document.getElementsByClassName("Complaint")[0].classList.remove("hidden");
            document.getElementsByClassName("CoSection")[0].classList.add("hidden");
            document.getElementsByClassName("Feedback")[0].classList.add("hidden");
            document.getElementsByClassName("AssistantCommandantSection")[0].classList.add("hidden");
        }
        function showCoSection() {
            document.getElementsByClassName("complaintBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("complaintBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("complaintBtn")[0].classList.remove("text-[#D8F3DC]");

            document.getElementsByClassName("coBtn")[0].classList.add("activeBtn");
            document.getElementsByClassName("coBtn")[0].classList.add("bg-[#2F6A50]");
            document.getElementsByClassName("coBtn")[0].classList.add("text-[#D8F3DC]");

            document.getElementsByClassName("commandantBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("text-[#D8F3DC]");

            document.getElementsByClassName("feedbackBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("text-[#D8F3DC]");

            document.getElementsByClassName("Complaint")[0].classList.add("hidden");
            document.getElementsByClassName("CoSection")[0].classList.remove("hidden");
            document.getElementsByClassName("AssistantCommandantSection")[0].classList.add("hidden");
            document.getElementsByClassName("Feedback")[0].classList.add("hidden");
        }
        function showFeedback() {
            document.getElementsByClassName("complaintBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("complaintBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("complaintBtn")[0].classList.remove("text-[#D8F3DC]");
            document.getElementsByClassName("coBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("coBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("coBtn")[0].classList.remove("text-[#D8F3DC]");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("commandantBtn")[0].classList.remove("text-[#D8F3DC]");
            document.getElementsByClassName("feedbackBtn")[0].classList.add("activeBtn");
            document.getElementsByClassName("feedbackBtn")[0].classList.add("bg-[#2F6A50]");
            document.getElementsByClassName("feedbackBtn")[0].classList.add("text-[#D8F3DC]");

            document.getElementsByClassName("Complaint")[0].classList.add("hidden");
            document.getElementsByClassName("CoSection")[0].classList.add("hidden");
            document.getElementsByClassName("Feedback")[0].classList.remove("hidden");
            document.getElementsByClassName("AssistantCommandantSection")[0].classList.add("hidden");
        }
        function showAssistantCommandantSection() {
            document.getElementsByClassName("complaintBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("complaintBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("complaintBtn")[0].classList.remove("text-[#D8F3DC]");

            document.getElementsByClassName("coBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("coBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("coBtn")[0].classList.remove("text-[#D8F3DC]");

            document.getElementsByClassName("commandantBtn")[0].classList.add("activeBtn");
            document.getElementsByClassName("commandantBtn")[0].classList.add("bg-[#2F6A50]");
            document.getElementsByClassName("commandantBtn")[0].classList.add("text-[#D8F3DC]");

            document.getElementsByClassName("feedbackBtn")[0].classList.remove("activeBtn");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("bg-[#2F6A50]");
            document.getElementsByClassName("feedbackBtn")[0].classList.remove("text-[#D8F3DC]");

            document.getElementsByClassName("Complaint")[0].classList.add("hidden");
            document.getElementsByClassName("CoSection")[0].classList.add("hidden");
            document.getElementsByClassName("Feedback")[0].classList.add("hidden");
            document.getElementsByClassName("AssistantCommandantSection")[0].classList.remove("hidden");
        }
    </script>
</body>

</html>